/* You can add global styles to this file, and also import other style files */
@import 'bulma/css/bulma.css';

.bleu {
    background-color: #6390F0!important;
    color: white!important;
}
.vert {
    background-color: #83F063!important;
    color: white!important;
}